# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# build files
cal/build*
vidso/build*
slam_it/build*

# data
cal/dat/results*
*.b64
*.http
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Others
.vscode